---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/Header.astro';
import Body from '@/components/landing/Body.astro';
import Footer from '@/components/Footer.astro';
---

<Layout title="Register">
    <main>
        <Header />

        <Footer />
    </main>
</Layout>

<style>
    main {
        padding: 0;
        margin: 0;
        width: 100%;
    }
</style>
