---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/Header.astro';
import BodyLandingPage from '@/components/BodyLandingPage.astro';
---

<Layout title="Contable">
	<main>
		<Header />
		<BodyLandingPage />
	</main>
</Layout>

<style>
	main {
		padding: 1rem;
		margin: 0;
		width: 100%;
	}
</style>
