---

---
<section>
    <div class="landing">
        <header>
            <div class="left">
                <h1>Que es contable service?</h1>
                <p>
                    Es una herramienta en la cual te puedes apoyar para manejar tu contabilidad personal, con el fin de que en un futuro tengas un mejor control!!!
                </p>
                <div>
                    <a href="/login" class="btn btn-primary">Iniciar Sesion</a>
                    <a href="/register" class="btn btn-primary">Registrarse</a>
                </div>
            </div>
        </header>
        <footer>
            <figure>
                <img src="/Landing.png" alt="Contable Service">
            </figure>
        </footer>
    </div>
</section>

<style>
    section {
        width: 100%;
        height: 747px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .landing {
        width: 90%;
        height: 747px;
        background-color: white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        border: 1px rgba(126, 106, 151, 0.50) solid;
        justify-content: space-between;
        align-items: center;
        display: inline-flex;
    }
    .left {
        width: 100%;
        height: 100%;
        padding-inline: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header {
        align-items: flex-start;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    footer {
        width: 100%;
        height: 100%;
    }
    figure {
        align-self: center;
    }
    img {
        width: 500px;
        height: 500px;
    }
    a {
        color: white;
        padding-inline: 25px;
        padding-block: 5px;
        background: #AA9CC1;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        justify-content: center;
        &:hover {
            background: #8E7CB3;
        }
    }
</style>